@import "system-font";

html, body {
  background-color: #f7f7f7;
}

body {
  font-family: system;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
}

[class*=" icon-"], [class^=icon-] {
  display: inline-flex;
  flex-direction: row-reverse;
  vertical-align: bottom;
  border: 1px solid;
  border-radius: .2em;
  font-size: .8em;
  align-items: center;
  padding-right: .2em;
  text-decoration: none;
  font-weight: 500;
  background-color: white;
  transition: color .3s;

  &:hover, &:focus {
    color: #0000EE;
  }
}

.i {
  height: 1.2em;
  display: inline-block;
  padding: .2em;
  margin-right: .2em;
  background-color: currentColor;
  fill: white;
}

.icon-github {
  color: rgb(59, 59, 59);
}

.icon-xing {
  color: rgb(0, 96, 94);
}

.icon-twitter {
  color: rgb(50, 222, 244);
}

.hide {
  display: none
}

.singleLine {
  display: inline-block;
}

/*
body, h1, html, li, ul, a {
  ._reset;
  transition: all .3s ease-in-out
}

* {
  box-sizing: border-box
}



html {
  font-family: "Trebuchet MS", Helvetica, sans-serif
}

body, html, ul {
  width: 100%;
  margin: 0
}

body {
  display: flex;
  height: 100%;
  flex-wrap: nowrap;
  flex-direction: column;
}

h1 {
  font-size: 6vh;
  padding: .5vh;
  flex-grow: 1;
  position: relative;
  flex-shrink: 0;

  small {
    white-space: nowrap;
  }
}

.chosen h1 {
  left: -100%
}

div {
  padding: 0;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-wrap: nowrap;
  flex-direction: column;
}

ul {
  padding: 0;
  display: flex;
  align-items: stretch;
  flex-grow: 1;
  flex-basis: 100%;
  flex-wrap: wrap;

  &:first-child {
    flex-grow: 2;
  }
}

li {
  list-style: none;
  flex-grow: 1;
  display: flex;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  outline: .7em solid transparent;

}

li:hover {
  flex-grow: 5;
  outline-color: rgba(255, 255, 255, .8);
  z-index: 50
}

a {
  text-decoration: none;
  color: #FFF;
  display: flex;
  flex-shrink: 0;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: stretch
}

a:hover:before {
  content: attr(title);
  position: absolute;
  top: 0;
  left: 0;
  text-indent: 0;
  font-size: 6vh;
  padding: .5vh;
  color: #FFF
}

a svg {
  flex-grow: 1;
  fill: #FFF
}

[class*=" icon-"], [class^=icon-] {
}
*/
