:root {
  --background-color: rgba(255, 255, 255, 0.7);
  --background-backdrop-color: rgba(255, 255, 255, 0.4);
  --font-color: #000;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background-color: rgba(0, 0, 0, 0.7);
    --background-backdrop-color: rgba(0, 0, 0, 0.4);
    --font-color: #fefefe;
  }
}

html,
body {
  background-color: var(--unsplash-color, var(--background-color));
  background-image: var(--unsplash-small);
  background-position: center;
  background-size: cover;
  background-position: center;
  padding: 0;
  margin: 0;
  color: var(--font-color);
  -webkit-overflow-scrolling: touch;
  min-height: 100vh;
}

@media (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  body {
    background-image: var(--unsplash-regular);
  }
}

@media screen and (min-width: 700px) {
  body {
    background-image: var(--unsplash-regular);
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  line-height: 1.4;
  font-size: 1.25em;
}

div {
  align-self: center;
  padding: 0 1.325em;
  background-color: var(--background-color);
  border-radius: 0.125em;
}

aside {
  position: absolute;
  font-size: 0.8em;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5em;
  background-color: var(--background-color);
  text-shadow: none;
}

@supports (-webkit-backdrop-filter: blur(10px)) or (backdrop-filter: blur(10px)) {
  div,
  aside,
  :target h1 {
    background-color: var(--background-backdrop-color);
    -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px);
  }

  :target div {
    -webkit-backdrop-filter: none;
    backdrop-filter: none;
  }
}
@supports (backdrop-filter: blur(10px)) {
  div,
  aside,
  :target h1 {
    background-color: var(--background-backdrop-color);
    backdrop-filter: blur(10px);
  }

  :target div {
    backdrop-filter: none;
  }
}

[class*=" icon-"],
[class^="icon-"] {
  display: inline-flex;
  flex-direction: row-reverse;
  vertical-align: bottom;
  border: 1px solid;
  border-radius: 0.2em;
  font-size: 0.8em;
  align-items: center;
  padding-right: 0.2em;
  text-decoration: none;
  font-weight: 500;
  background-color: white;
  transition: color 0.3s;
}

[class*=" icon-"]:hover,
[class^="icon-"]:hover,
[class*=" icon-"]:focus,
[class^="icon-"]:focus {
  color: #0000ee;
}

[class*=" icon-"] svg,
[class^="icon-"] svg {
  height: 1em;
  width: 1em;
}

.i {
  height: 1.2em;
  display: inline-block;
  padding: 0.2em;
  margin-right: 0.2em;
  background-color: currentColor;
  fill: white;
}

.icon-github {
  color: #3b3b3b;
}

.icon-xing {
  color: #00605e;
}

.icon-twitter {
  color: #32def4;
}

.icon-linkedin {
  color: #0077B5  ;
}

.hide {
  display: none;
}

.singleLine {
  display: inline-block;
}

:target {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 6vmin;
  background-image: none;
}

:target body {
  background: none;
}

:target aside {
  display: none;
}

:target div {
  position: relative;
  background: none;
  border-radius: 0;
}

:target h1 {
  white-space: nowrap;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 0.125em;
  padding: 0 0.75em;
}

:target p {
  text-indent: -100em;
}

:target a[data-profile] {
  display: flex;
  position: absolute;
  left: 1.75em;
  right: 1.75em;
  text-indent: 0;
  border-width: 0.2em;
  justify-content: space-between;
  padding: 0.4em;
}

:target a[data-profile] .i {
  display: none;
}

:target a[data-profile]:before {
  content: " " attr(data-profile) " ";
  font-size: 1em;
  font-weight: 700;
  padding-left: 0.32em;
  margin-left: auto;
}

:target .singleLine a[data-profile] {
  margin-top: -1.25em;
}

:target .singleLine a[data-profile] ~ a[data-profile] {
  margin-top: 0;
}

@media print {
  html,
  body {
    background-color: #fff;
  }

  body {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    line-height: 1.4;
  }

  [class*=" icon-"],
  [class^="icon-"] {
    display: inline;
    color: inherit;
    flex-direction: row-reverse;
    vertical-align: bottom;
    border: none;
    border-radius: 0.2em;
    font-size: 1em;
    padding-right: 0;
    text-decoration: none;
    font-weight: 400;
    background-color: transparent;
    transition: none;
  }

  [class*=" icon-"]:hover,
  [class^="icon-"]:hover,
  [class*=" icon-"]:focus,
  [class^="icon-"]:focus {
    color: inherit;
  }

  a[data-profile]:after {
    content: " (" attr(data-profile) ") ";
    font-size: 0.8em;
    font-weight: normal;
  }

  .i {
    display: none;
  }

  .singleLine {
    display: inline-block;
  }

  .hide, aside {
    display: none;
  }
}
